/*Q1*/
h1{
    color: blue;
}
/*Q2*/
.colleges{
    background-color: #c83;
}
/*Q3*/
.topics{
    list-style: none;
}
/*Q4 Q5 Q6*/
figure img{
    display: inline-block;
    max-width: 300px;
    margin: 20vh 20vw 20vh 20vw;
}
